#rules base on weight
weight:3:XWBank:HengShuiBank:127.0.0.1:5002
weight:2:XWBank:XWBank:127.0.0.1:5001
weight:1:XWBank:BaoTouNongShangBank:127.0.0.1:5003
weight:2:MaShangFinTech:XWBank:127.0.0.1:5001
weight:1:MaShangFinTech:HengShuiBank:127.0.0.1:5002
#rules base on hand set rules
hand:MaShangFinTech:XWBank:127.0.0.1:5001
hand:XWBank:HengShuiBank:127.0.0.1:5002
#rules base on age
age:18:30:XWBank:XWBank:127.0.0.1:5001
age:30:50:XWBank:HengShuiBank:127.0.0.1:5002
age:18:30:MaShangFinTech:XWBank:127.0.0.1:5001
age:30:50:MaShangFinTech:HengShuiBank:127.0.0.1:5002
#rules base on area
area:chengdu:MaShangFinTech:XWBank:127.0.0.1:5001
area:hebei:MaShangFinTech:HengShuiBank:127.0.0.1:5002
area:neimenggu:XWBank:BaoTouNongShangBank:127.0.0.1:5003
#rules base on amount
amount:0:30000:MaShangFinTech:XWBank:127.0.0.1:5001
amount:30000:50000:MaShangFinTech:BaoTouNongShangBank:127.0.0.1:5003
amount:50000:500000:MaShangFinTech:HengShuiBank:127.0.0.1:5002
amount:500000:10000000:MaShangFinTech:BeiJingBank:127.0.0.1:5004
#rules base on product
product:carDiDai:MaShangFinTech:HengShuiBank:127.0.0.1:5002
product:carInsuranceFenQi:MaShangFinTech:XWBank:127.0.0.1:5001
product:elseFenQi:MaShangFinTech:BaTouNongShangBank:127.0.0.1:5003
#rules base on risk class
risk:1:MaShangFinTech:XWBank:127.0.0.1:5001
risk:2:MaShangFinTech:HengShuiBank:127.0.0.1:5002
risk:3:MaShangFinTech:BaoTouNongShangBank:127.0.0.1:5003
#rules base on random
random:MaShangFinTech:{XWBank:127.0.0.1:5001,HengShuiBank:127.0.0.1:5002,BaoTouNongShangBank:127.0.0.1:5003}
